.connect {
  margin-bottom: -10px;
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

.connect__link {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 14px;
  letter-spacing: 0.02em;
  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17px;
  }
  @include desktop {
    gap: 10px;
    height: 16px;
  }
}
.connect__item {
  margin-bottom: 10px;

  @include desktop {
    margin-bottom: 0;
    justify-content: center;
  }
}
