%emphasis {
  position: absolute;
  bottom: -1px;

  content: "";
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: none;
  gap: 50px;
  margin-left: 88px;

  @include tablet {
    display: flex;
  }

  @include desktop {
    margin-left: 93px;
  }
}
.navigation__item {
  position: relative;

  display: flex;
  flex-direction: column;
  color: var(--titel-text-color);
  &--current {
    color: var(--accent-color);
    &::after {
      @extend %emphasis;
      width: 47px;
      @include desktop {
        width: 48px;
      }
    }
  }
  &--current-bigger {
    color: var(--accent-color);
    &::after {
      @extend %emphasis;
      width: 75px;
      @include desktop {
        width: 78px;
      }
    }
  }
}
.navigation__link {
  display: block;
  margin-top: 32px;
  margin-bottom: 32px;

  letter-spacing: 0.02em;
  color: inherit;
}
